@import url('https://fonts.cdnfonts.com/css/satoshi');

* {
  font-family: 'Satoshi', 'serif';
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  color:#0083FF;
  margin-bottom: 10px
}

.github-logo {
  width: 20vh;
}